.login .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-tabs {
    position: absolute;
    padding: 15px;
    background: var(--background);
    border-radius: 15px;
    text-align: center;
    min-width: 40%;
}

.login-home,
.login-offline,
.login-AZauth,
.login-AZauth-A2F {
    display: none;
}

.login-text {
    font-size: 1.3rem;
}

.connect,
.cancel {
  background: none;
  color: var(--color);
  border: solid 2px var(--gray-border-color);
  border-radius: 10px;
  padding: 0.3rem 4rem;
  font-size: inherit;
  font-weight: bold;
  margin: 15px 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .3s;
  font-family: inherit;
  text-transform: uppercase;
  z-index: 1;
}

.connect::before, .cancel::before,
.connect::after, .cancel::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 0.7s ease;
}

.connect::before, .cancel::before {
    top: -1em;
    left: -1em;
}

.connect::after, .cancel::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.connect:hover::before, .cancel:hover::before,
.connect:hover::after, .cancel:hover::after {
    height: 410px;
    width: 410px;
}

.connect:hover, .cancel:hover {
    color: rgb(10, 25, 30);
}

.connect:active, .cancel:active {
    filter: brightness(.8);
}

.input-login .email,
.input-login .password,
.A2F {
    color: var(--color);
    background: none;
    border: solid 1px var(--gray-border-color);
    border-radius: 15px;
    width: 50%;
    padding: 0.4rem 1rem;
    margin-top: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loader {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid var(--color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


  